doctype html
//
  Eventually by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lte IE 8
    script(src='javascripts/ie/html5shiv.js')
    link(rel='stylesheet', href='stylesheets/main.css')
    //if lte IE 8
    link(rel='stylesheet', href='stylesheets/ie8.css')
    //if lte IE 9
    link(rel='stylesheet', href='stylesheets/ie9.css')
  body
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KNF968', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KNF968');
    // End Google Tag Manager
    // Header
    header#header
      h1 juanpaulo.me
      p
        | Juan Paulo Gutierrez's personal website. 
        br
        | Awesome stuff coming soon.
    // Signup Form
    form#signup-form(method='post', action='#')
      //- input#email(type='email', name='email', placeholder='Email Address')
      //- input(type='submit', value='Sign Up')
    // Footer
    footer#footer
      ul.icons
        li
          a.icon.fa-linkedin(href='http://jp.linkedin.com/pub/juan-paulo-gutierrez/2b/b06/284/' target='_blank')
            span.label LinkedIn
        li
          a.icon.fa-github(href='http://github.com/juanpaulo' target='_blank')
            span.label Github
        li
          a.icon.fa-flickr(href='http://www.flickr.com/photos/juan_paulo/' target='_blank')
            span.label Flickr
        li
          a.icon.fa-instagram(href='http://instagram.com/juanpaulo' target='_blank')
            span.label Instagram
        li
          a.icon.fa-facebook(href='http://www.facebook.com/juanpaulogutierrez' target='_blank')
            span.label Facebook
        li
          a.icon.fa-twitter(href='http://twitter.com/juanpaulome' target='_blank')
            span.label Twitter
        li
          a.icon.fa-google-plus(href='http://plus.google.com/+JuanPauloGutierrez/about' target='_blank')
            span.label Google+
        li
          a.icon.fa-envelope-o(href='mailto:hello@juanpaulo.me')
            span.label Email
      ul.copyright
        li © juanpaulo.me
        li
          | Credits: 
          a(href='http://html5up.net') HTML5 UP
    // Scripts
    //if lte IE 8
    script(src='javascripts/ie/respond.min.js')
    script(src='javascripts/main.js')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76403912-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
